@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    button, p {
        @apply font-geist text-fill dark:text-fill_dark
    }

    h1, h2, h3, h4, p, span, a, button, input, label, pre {
        @apply text-fill dark:text-fill_dark
    }

    h1 {
        @apply font-geist text-4xl md:text-5xl lg:text-7xl
    }

    h2 {
        @apply font-geist text-2xl md:text-3xl lg:text-5xl
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea { 
        @apply bg-primary dark:bg-primary_dark border border-secondary dark:border-secondary_dark text-fill dark:text-fill_dark rounded-xl focus:ring-sky-400
    }

}

@layer components {
    .megazoid-text-title {
        @apply font-megazoid;
        -webkit-text-stroke-color: black;
        paint-order: stroke fill
    }

    .megazoid-text-h1 {
        @apply font-megazoid text-7xl relative;
        -webkit-text-stroke-color: black;
        paint-order: stroke fill;
        z-index: 1;
        -webkit-text-stroke-width: 10pt;
    }

    .megazoid-text-h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    text-shadow: 10px 10px 0px #38BDF8;
}

    .pagination-btn {
        @apply flex border secondary-border rounded-xl primary-bg disabled:bg-black/30 p-2
    }

    .primary-btn-submit {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%), #0369A1;
        @apply rounded-xl px-8 border-[0.5px] border-white/40 inline-flex items-center gap-3 py-2.5 bg-sky-700 shadow-[0px_0px_0px_1px_#0369A1] text-white;
    }

    .dot-grid {
        background-image: radial-gradient(#3d46510b 5px, transparent 0);
        background-size: 15px 15px;
        background-position: -19px -19px;
    }

    .dot-grid-dark {
        background-image: radial-gradient(#3d465150 5px, transparent 0);
        background-size: 15px 15px;
        background-position: -19px -19px;
    }

    .dot-grid-hero {
        background-image: radial-gradient(#3d46513d 10px, transparent 0);
        background-size: 40px 40px;
        background-position: -19px -19px;
    }

    .square-grid {
        --size: 45px;
        --line: color-mix(in lch, canvasText, transparent 70%);
        background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
        mask: linear-gradient(103deg, #000 -43.49%, rgba(0, 0, 0, 0.02) 70.54%);
        @apply h-screen w-screen relative z-0 top-0 inset-0
    }

    .home-h2 {
        @apply font-geistmono text-base text-gray-400
    }

    .gradient-bg {
        background: radial-gradient(65.18% 95.97% at 8.19% 69.55%, rgba(134, 239, 172, 0.65) 0%, rgba(228, 228, 231, 0.65) 100%), radial-gradient(65.04% 99% at 82.95% 69.04%, #38BDF8 0%, #E4E4E7 100%);
    }

    .gradient-bg-dark {
        background: radial-gradient(65.18% 95.97% at 8.19% 69.55%, rgba(22, 101, 52, 0.65) 0%, rgba(9, 9, 11, 0.65) 100%), radial-gradient(65.04% 99% at 82.95% 69.04%, #0369A1 0%, #09090B 100%);
    }

    :root {
        --border: 2;
    }

    .border-button {
        --bg: color-mix(in hsl, canvas, canvasText 10%);
        --color: color-mix(in hsl, canvasText, canvas 20%);
        color: var(--color);
        border: calc(var(--border) * 1px) solid transparent;
        outline-color: hsl(210 100% 60%);
        @apply cursor-pointer rounded-xl relative outline-offset-4
    }

    .border-button::after, .border-button::before {
        inset: calc(var(--border) * -1px);
        border-radius: 12px;
        position: absolute;
        z-index: -1;
        content: '';
    }


    .border-button::after {
      mask: conic-gradient(
        from calc(var(--from, 0) * 1deg),
        #000 calc(var(--complete) * 1%),
        #0000 calc(var(--complete) * 1%),
        #0000 calc((100 - var(--complete)) * 1%),
        #000 calc((100 - var(--complete)) * 1%)
      );
       background: linear-gradient(
      65deg,
      #38bdf8,
      #a2e3ff,
      #307fa1
    );
    mask-size: 1000px 1000px;
    mask-position: 50% 50%;
    transition: --complete 0.6s;
    transition-timing-function: linear(
      0 0%,
      0.0027 3.64%,
      0.0106 7.29%,
      0.0425 14.58%,
      0.0957 21.87%,
      0.1701 29.16%,
      0.2477 35.19%,
      0.3401 41.23%,
      0.5982 55.18%,
      0.7044 61.56%,
      0.7987 68.28%,
      0.875 75%,
      0.9297 81.25%,
      0.9687 87.5%,
      0.9922 93.75%,
      1 100%
    );
    }

    @property --complete {
    initial-value: 0;
    syntax: '<number>';
    inherits: true;
  }
    .border-button:is(:hover, :focus-visible) {
        --complete: 100;
    }

}

@layer utilities {
    .base-grid {
        @apply lg:grid lg:grid-cols-12 lg:gap-8 lg:justify-center px-16
    }

    .content-grid {
        @apply lg:grid lg:grid-cols-12 lg:gap-8 lg:justify-center
    }

    .container {
      @apply max-w-screen-xl lg:px-10 md:px-7 sm:px-5 px-4 mx-auto;
    }

    .primary-bg {
        @apply bg-primary dark:bg-primary_dark
    }

    .secondary-bg {
        @apply bg-secondary dark:bg-secondary_dark
    }

    .tertiary-bg {
        @apply bg-tertiary dark:bg-tertiary_dark
    }

    .primary-border {
        @apply border-primary dark:border-primary_dark
    }

    .secondary-border {
        @apply border-secondary dark:border-secondary_dark
    }

    .tertiary-border {
        @apply border-tertiary dark:border-tertiary_dark
    }

    .fill-text {
        @apply text-fill dark:text-fill_dark
    }
}

::view-transition-old(root), [data-theme='dark']::view-transition-old(root) {
    animation: none;
    z-index: -1;
  }

::view-transition-new(root), [data-theme='dark']::view-transition-new(root) {
    animation: unclip 1s;
    clip-path: polygon(-100vmax 100%, 100% 100%, 100% -100vmax);
  }

@keyframes unclip {
    0% {
      clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
    }
  }
