@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button, p {
        @apply font-geist text-fill dark:text-fill_dark
    }


}

@layer components {
    .megazoid-text-title {
        @apply font-megazoid;
        -webkit-text-stroke-color: black;
    }

    .megazoid-text-h1 {
        @apply font-megazoid text-7xl;
        -webkit-text-stroke-color: black;
        text-shadow: 7px 7px 0px #38BDF8;
    }

    .dot-grid {
        background-image: radial-gradient(rgba(0, 0, 0, 0.342) 10px, transparent 0);
        background-size: 40px 40px;
        background-position: -19px -19px;
    }
}

@layer utilities {
    .base-grid {
        @apply lg:grid lg:grid-cols-12 lg:gap-8 lg:justify-center px-6
    }

    .gradient-bg {
        background: var(--bg-gradient, url(<path-to-image>) lightgray 0% 0% / 100px 100px repeat, radial-gradient(65.18% 95.97% at 8.19% 69.55%, rgba(134, 239, 172, 0.65) 0%, rgba(228, 228, 231, 0.65) 100%), radial-gradient(65.04% 99% at 82.95% 69.04%, #38BDF8 0%, #E4E4E7 100%));
    }

    .container {
      @apply max-w-screen-xl lg:px-10 md:px-7 sm:px-5;
    }
}