@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button, p {
        @apply font-geist text-fill dark:text-fill_dark
    }


}

@layer components {
    .megazoid-text {
        @apply font-megazoid;
        -webkit-text-stroke-color: black;
        
    }

    .dot-grid {
        background-image: radial-gradient(rgba(0, 0, 0, 0.342) 10px, transparent 0);
        background-size: 40px 40px;
        background-position: -19px -19px;
    }
}

@layer utilities {
    .base-grid {
        @apply lg:grid lg:grid-cols-12 lg:gap-8 lg:justify-center px-6
    }
}